
/*
---------------------------------------------
Card Style
---------------------------------------------
*/

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 700px;
    margin: -350px;
    z-index: 100;
}

#close {
    display: grid;
    justify-content: right;
}

#head {
    position: absolute;
    top: 45px;
    left: 275px;
}

.big-cell {
    color: #32908f;
    margin: 0 auto 20px auto;
    width: 200px;
    height: 200px;
    border: 1px solid white;
    border-radius: 10%;
    background-size: 200px;
}

.infos {
    display: flex;
    flex-direction: column;
    height: 320px;
    overflow-x: hidden;
}