/*
---------------------------------------------
Map Style
---------------------------------------------
*/

.map {
    position: absolute;
    left: 50%;
    top: 50%;
}

.cell {
    border-radius: 10%;
}

.cell:hover {
    border: 4px solid white;
}

@keyframes tilt-shaking {
    0% { transform: translate(0,0); }
    25% { transform: translate(2px,2px); }
    50% { transform: translate(0,4px); }
    75% { transform: translate(2px,0); }
    100% { transform: translate(0,0); }
}

.animated {
    position: relative;
    animation: tilt-shaking 0.6s infinite linear;
}

.animated:nth-child(2n) {animation-delay: 0.1s;}
.animated:nth-child(3n) {animation-delay: 0.2s;}
.animated:nth-child(4n) {animation-delay: 0.3s;}
.animated:nth-child(5n) {animation-delay: 0.4s;}
.animated:nth-child(6n) {animation-delay: 0.5s;}
.animated:nth-child(7n) {animation-delay: 0.6s;}
.animated:nth-child(8n) {animation-delay: 0.7s;}
.animated:nth-child(9n) {animation-delay: 0.8s;}
.animated:nth-child(10n) {animation-delay: 0.9s;}
