/*

TemplateMo 582 Tale SEO Agency

https://templatemo.com/tm-582-tale-seo-agency

/* 
---------------------------------------------
font
--------------------------------------------- 
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800");
@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,700;1,400;1,700&family=Titan+One&display=swap");
/* 
---------------------------------------------
reset css
--------------------------------------------- 
*/

header, nav, section, article, aside, footer, hgroup {
  margin: 0;
  padding: 0;
  display: block;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
}

p {
  font-size: 15px;
  line-height: 30px;
  color: #262626;
}

img {
  width: 100%;
  overflow: hidden;
}

/* 
---------------------------------------------
Global Styles
--------------------------------------------- 
*/
html,
body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

::selection {
  background: #3498db;
  color: #fff;
}

::-moz-selection {
  background: #3498db;
  color: #fff;
}

.main-button a {
  font-size: 14px;
  color: #fff;
  background-color: #3498db;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}

.main-button a:hover {
  background-color: #3498db;
  color: #fff;
  opacity: 0.8;
}

.second-button a {
  font-size: 14px;
  color: #fff;
  background-color: #c03afe;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}

.second-button a:hover {
  background-color: #c03afe;
  color: #fff;
  opacity: 0.8;
}

.section {
  padding-top: 30px;
  margin-top: 90px;
}


.section-heading {
  margin-bottom: 30px;
}

.section-heading .line-dec {
  width: 60px;
  height: 2px;
  margin-bottom: 20px;
  background: rgb(27, 25, 30);
  /* background: linear-gradient(90deg, rgba(85,0,227,1) 0%, rgba(198,61,255,1) 100%); */
}

.section-heading h2 {
  color: #2a2a2a;
  font-size: 30px;
  text-transform: capitalize;
  text-decoration: none;
  margin-bottom: 30px;
  line-height: 44px;
}

.section-heading h2 em {
  color: #3498db;
  font-style: normal;
}

.section-heading h2 span {
  color: #c03afe;
}

.caption {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  background-color: rgba(250, 250, 250, 0.95);
  padding: 30px;
  border-radius: 23px;
  width: fit-content;
  margin: 30px auto;
}

/* 
---------------------------------------------
Banner Style
--------------------------------------------- 
*/

.main-body {
  margin-top: 70px;
  position: relative;
  display: flex;
  overflow-y: hidden;
}

.main-banner {
  flex-basis: 70%;
  position: relative;
  padding: 25px;
  justify-content: center;
}

.main-body:after {
  background-image: url(images/pattern-background.jpg);
  background-size: cover;
  top: -1px;
  right: 0;
  position: absolute;
  width: 2000px;
  height: 1000px;
  z-index: -1;
  content: "";
}

h2 {
  font-family: Titan One;
  font-size: 2.75rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.1;
  color: white;
  margin: auto;
  text-align: center;
}

h6 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
  color: #3498db;
  text-transform: uppercase;
  font-weight: 700;
}

.main-banner .line-dec {
  margin: 30px 0px 20px 0px;
  width: 210px;
  height: 2px;
  background-color: #decdfa;
}

.main-banner h4 {
  font-size: 52px;
  color: #2a2a2a;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 20px;
}

.main-banner h4 em {
  font-style: normal;
  color: #3498db;
}

.main-banner h4 span {
  color: #c03afe;
}

.main-banner p {
  padding-right: 25%;
  margin-bottom: 30px;
}

.main-banner .main-button {
  display: inline-block;
}

.main-banner span {
  display: inline-block;
  margin: 0px 10px 0px 10px;
  color: #7a7a7a;
}

.main-banner .second-button {
  display: inline-block;
}


/*
---------------------------------------------
Page Heading Style
---------------------------------------------
*/

.page-heading {
  padding: 120px 0px;
  margin-top: 70px;
}

.page-heading h6 {
  font-size: 20px;
  color: #3498db;
  text-transform: uppercase;
  font-weight: 700;
}

.page-heading h4 {
  font-size: 52px;
  color: #2a2a2a;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 20px;
}

.page-heading p {
  padding-right: 25%;
  margin-bottom: 30px;
}

.page-heading .main-button {
  display: inline-block;
}

.page-heading span {
  display: inline-block;
  margin: 0 10px;
  color: #7a7a7a;
}

.page-heading .second-button {
  display: inline-block;
}

.clock-menu {
  display: flex;
  align-content: center;
  flex-direction: row;
  margin: 0 30px;
}


.clock-menu .main-button a {
  margin: 7px 20px;
  font-size: 14px;
  color: #fff;
  background-color: #4f8fce;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}

.clock-menu .main-button a:hover {
  margin: 7px 20px;
  background-color: #4f8fce;
  color: #fff;
  opacity: 0.8;
}

.clock-menu .second-button a {
  margin: 7px 20px;
  font-size: 14px;
  color: #fff;
  background-color: #4f8fce;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}

.clock-menu .second-button a:hover {
  margin: 7px 20px;
  background-color: #4f8fce;
  color: #fff;
  opacity: 0.8;
}

/* 
---------------------------------------------
Footer Style
--------------------------------------------- 
*/

footer p {
  text-align: center;
  padding: 30px 0px;
  color: #2a2a2a;
  font-weight: 500;
}

footer p a {
  color: #2a2a2a;
  transition: all .3s;
}

footer p a:hover {
  color: #3498db;
}

footer ul {
  margin-bottom: 0px;
}


.pre-header {
  background-color: rgb(49, 48, 54);
  padding: 15px 0px;
  align-content: center;
}

.pre-header ul li {
  display: inline-block;
}

.pre-header .left-info ul li:last-child {
  margin-right: 0px;
  padding-right: 0px;
  border-right: none;
}

.pre-header .left-info ul li {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid #dfb6ff;
}

.pre-header .left-info ul li a {
  font-size: 14px;
}

.pre-header .left-info ul li a i {
  font-size: 18px;
  margin-right: 10px;
}

.pre-header ul li a {
  color: #a586bc;
  transition: all .4s;
}

.pre-header .social-icons {
  text-align: right;
}


.pre-header .social-icons ul li {
  margin-left: 10px;
}

.pre-header .social-icons ul li a {
  font-size: 18px;
}

.pre-header ul li a:hover {
  color: #c03afe;
}

.particle {
  position: absolute;
}

.loader {
  position: relative;
  margin: 20px auto 0 auto;
  border: 15px solid #95cbf1;
  border-top: 15px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}