
/*
---------------------------------------------
Card Style
---------------------------------------------
*/

.big-cell {
    color: #32908f;
    margin: 0 auto 20px auto;
    width: 200px;
    height: 200px;
    border: 1px solid white;
    border-radius: 10%;
    background-size: 200px;
}

.infos {
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow-x: hidden;
}