
/*
---------------------------------------------
Card Style
---------------------------------------------
*/
aside {
    flex-basis: 30%;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
    background: rgb(49, 48, 54, 0.5);
    /* background: linear-gradient(25deg, rgba(85,0,227,1) 0%, rgba(198,61,255,1) 100%); */
}

aside .caption {
    width: -moz-available;
}

.sider-menu {
    display: flex;
    align-content: center;
    flex-direction: row;
}

.main-button, .second-button {
    margin: 5px auto;
}